*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


.slick-slider{
   margin: 0;
   padding: 0;
   border-radius: 0;
   height: 90hr !important;
   border: none;
   background-color: #fff;
}



.slick-slider button:first-child{
    position: absolute;
    bottom: -29.5px;
    right: 0;
    z-index: 10;
}

.slick-slider button:last-child{
    position: absolute;
    bottom: -29.5px;
    left: 0;
}

.slick-slider button{
    border-radius: 5px;
}

.slick-slider button .slick-prev .slick-arrow{
    position: absolute;
    bottom: 0;
    left: 0;
}

body .slick-slider .slick-slide {
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative
}

body{
    background-color: #FFCF99
}